<%= form_for(@pot) do |f| %>
  <% if @pot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pot.errors.count, "error") %> prohibited this pot from being saved:</h2>

      <ul>
      <% @pot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lang %><br />
    <%= f.text_field :lang %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
