<%= form_for(@pot) do |f| %>
  <% if @pot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pot.errors.count, "error") %> prohibited this pot from being saved:</h2>

      <ul>
      <% @pot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lang %><br />
    <%= f.text_field :lang %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :first_author %><br />
    <%= f.text_field :first_author %>
  </div>
  <div class="field">
    <%= f.label :first_author_email %><br />
    <%= f.text_field :first_author_email %>
  </div>
  <div class="field">
    <%= f.label :first_author_year %><br />
    <%= f.text_field :first_author_year %>
  </div>
  <div class="field">
    <%= f.label :project_id_version %><br />
    <%= f.text_field :project_id_version %>
  </div>
  <div class="field">
    <%= f.label :report_msgid_bugs_to %><br />
    <%= f.text_field :report_msgid_bugs_to %>
  </div>
  <div class="field">
    <%= f.label :pot_creation_date %><br />
    <%= f.date_select :pot_creation_date %>
  </div>
  <div class="field">
    <%= f.label :last_translator %><br />
    <%= f.text_field :last_translator %>
  </div>
  <div class="field">
    <%= f.label :language_team %><br />
    <%= f.text_field :language_team %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </div>
  <div class="field">
    <%= f.label :content_transfer_encoding %><br />
    <%= f.text_field :content_transfer_encoding %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
