<h1>Projects</h1>

<table>
<% @pots.each do |pot| %>
  <tr>
    <td><%= link_to pot.title, pot %></td>
    <td><%= link_to raw('&#10000;'), edit_pot_path(pot),
            :class => 'plain' %></td>
    <td><%= link_to raw('&#10005;'), pot, :confirm => 'Are you sure?',
            :class => 'plain', :method => :delete %></td>
    <td> | </td>
    <% pot.pos.each do |po| %>
        <td> <%= link_to po.lang, po %> </td>
    <% end %>
    <td> | </td>
    <td><%= link_to "Translate to your language!", new_po_path %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add project', new_pot_path %>
