<h1>Listing pots</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lang</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pots.each do |pot| %>
  <tr>
    <td><%= pot.name %></td>
    <td><%= pot.lang %></td>
    <td><%= link_to 'Show', pot %></td>
    <td><%= link_to 'Edit', edit_pot_path(pot) %></td>
    <td><%= link_to 'Destroy', pot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pot', new_pot_path %>
