<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pot.name %>
</p>

<p>
  <b>Lang:</b>
  <%= @pot.lang %>
</p>

<p>
  <b>Title:</b>
  <%= @pot.title %>
</p>

<p>
  <b>Year:</b>
  <%= @pot.year %>
</p>

<p>
  <b>First author:</b>
  <%= @pot.first_author %>
</p>

<p>
  <b>First author email:</b>
  <%= @pot.first_author_email %>
</p>

<p>
  <b>First author year:</b>
  <%= @pot.first_author_year %>
</p>

<p>
  <b>Project id version:</b>
  <%= @pot.project_id_version %>
</p>

<p>
  <b>Report msgid bugs to:</b>
  <%= @pot.report_msgid_bugs_to %>
</p>

<p>
  <b>Pot creation date:</b>
  <%= @pot.pot_creation_date %>
</p>

<p>
  <b>Last translator:</b>
  <%= @pot.last_translator %>
</p>

<p>
  <b>Language team:</b>
  <%= @pot.language_team %>
</p>

<p>
  <b>Language:</b>
  <%= @pot.language %>
</p>

<p>
  <b>Content type:</b>
  <%= @pot.content_type %>
</p>

<p>
  <b>Content transfer encoding:</b>
  <%= @pot.content_transfer_encoding %>
</p>


<%= link_to 'Edit', edit_pot_path(@pot) %> |
<%= link_to 'Back', pots_path %>
