<%= form_for(@po) do |f| %>
  <% if @po.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@po.errors.count, "error") %> prohibited this po from being saved:</h2>

      <ul>
      <% @po.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lang %><br />
    <%= f.text_field :lang %>
  </div>
  <div class="field">
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </div>
  <div class="field">
    <%= f.label :translator %><br />
    <%= f.text_field :translator %>
  </div>
  <div class="field">
    <%= f.label :pot %><br />
    <%= f.text_field :pot %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
