<% content_for :below_body do %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Lang:</b>
  <%= @po.lang %>
</p>

<p>
  <b>Project:</b>
  <%= @po.project %>
</p>

<p>
  <b>Translator:</b>
  <%= @po.translator %>
</p>

<div id="navigation_statuses">
  <ul>
    <li><a href="?" title="All messages">All</a></li>
    <li><a href="?show=translated" title="Translated messages">Translated</a></li>
    <li><a href="?show=untranslated" title="Untranslated messages">Untranslated/Unclear</a></li>
  </ul>
</div>

<table id="messages">
    <% @messages.each do |msg| %>
    <tr>
      <td class="msgid"> <%= msg.msgid %> </td>
      <td class="msgstr"
          onclick="$('#msgstr-text-<%= msg.id %>').show().focus();
                   $('#msgstr-<%= msg.id %>').hide()">
        <span id="msgstr-<%= msg.id %>">
          <%= (not msg.msgstr.empty?) ? msg.msgstr : (raw "&nbsp;") %>
        </span>
        <%= form_for :msg, :url => po_message_url(@po, msg),
                     :remote => true, :html => { :method => :put } do |f| %>
             <%= f.text_field :msgstr, :id => "msgstr-text-#{msg.id}",
                         :class => "msgstr_textfield", :value => msg.msgstr %>
        <% end %>
        <%= form_for :msg, :url => po_message_url(@po, msg),
                     :remote => true, :html => { :method => :put } do |f| %>
            <%= f.check_box :fuzzy, :id => "fuzzy-bool-#{msg.id}",
                             :value => msg.fuzzy %>
        <% end %>
      </td>
    </tr>
    <% end %>
</table>

<%= link_to 'Edit', edit_po_path(@po) %> |
<%= link_to 'Back', pos_path %>
<%= javascript_include_tag 'po' %>
