<%= content_for :below_body do %>
<% end %>

<p id="notice"><%= notice %></p>


<h1> <%= @po.pot.title %> &#8594; <%= @po.lang %> </h1>

<div id="navigation_statuses">
  <div class="fleft">
    <ul>
        <li> <%= link_to "All", "?", :remote => true, :class => 'loadmsg',
                 :title => "All messages" %>
        <li> <%= link_to "Untranslated/Unclear", "?show=untranslated", :remote => true,
                 :class => 'loadmsg', :title => "Untranslated messages" %>
        <li><%= link_to "Translated", "?show=translated", :remote => true,
                 :class => 'loadmsg', :title => "Translated messages" %>
        <li><%= text_field_tag :filter, 'Search All', :class => 'filter loadmsg empty',
                 :title => 'Search all', :autocomplete => 'off' %>
    </ul>
  </div>
  <div class="fright"><a href="<%= download_po_url(:id => @po.id) %>">Download PO</a></div>
  
  <div class="cl"></div>
</div>

<table id="messages">
  <%= render :partial => "messages", :messages => @messages %>
</table>

<%= link_to 'Edit', edit_po_path(@po) %> |
<%= link_to 'Back', pos_path %>
<%= javascript_include_tag 'po' %>
